{{> menu active="about"}}

<section class="section">
  <h1> Welcome to TrailMark - 13ers Edition </h1>
  {{!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> --}}
  <h2></h2>
</section>
