{{> menu}}

<section class="section">
  <div class="title">
    {{collection.title}}
  </div>
  {{> list-trails}}
  {{> add-trail}}
  </div>
  <div class="column">
    {{> collection-image }}
  </div>
</section>
