{{> menu active="dashboard"}}

<section class="section">
  <h1>Hi {{user.firstName}}, welcome to your trail collection dashboard</h1>
  <br>
  {{> list-collections}}
  {{> add-collection}}
</section>
