{{> menu active="dashboard"}}

<section class="section">
  <h1>Hi {{user.firstName}}, welcome to your trail dashboard</h1>
  <br>
  {{> list-collections}}
  {{> add-collection}}
  <br>
    {{> list-publicCollections}}
  {{> add-publicCollection}}
</section>
