{{> welcome-menu}}
<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h1> Sign up or Log in </h1>
    <br>
    <h2>You've heard of the Colorado 14ers, now it's time for the 13ers to have their day!</h2>
  </div>
  <div class="column">
    <img src="/images/colorado13ers.jpg">
  </div>
</div>
