{{> welcome-menu active="noticeboard"}}

<table class="table is-fullwidth">
    <thead>
    <th>TrailMark Notice Board</th>
    </thead>

<section class="section">
  <h1>Hi {{user.firstName}}, welcome to your trail dashboard</h1>
  <br>
  {{> list-collections}}
  {{> add-collection}}
  <br>
  <br>
    {{> list-publicCollections}}
  {{> add-publicCollection}}
</section>