{{> welcome-menu active="noticeboard"}}

<table class="table is-fullwidth">
    <thead>
    <th>TrailMark Notice Board</th>
    </thead>
    <tbody>
        <tr>
            <td> Days of Rain Per year: 152</td>
            <td> Best Months to visit: Sept - October </td>
            <td> Current Covid Restrictions: Mask + Vaccine Mandate </td>
        </tr>
    </tbody>
</table>