{{> menu}}

<section class="section">
  <figure class="image is-2by1">
      <img src="https://wallpaperaccess.com/full/3226208.jpg">
    </figure>
  <div class="column has-text-centered">
  </div>
    <div class="title">
      {{collection.title}}
    </div>
  {{> list-trails}}
  {{> add-trail}}
  </div>
  <div class="column">
    {{> collection-image }}
  </div>
</section>
