{{> welcome-menu active="signup"}}

<section class="section">
  <h1 class="title">Sign up</h1>
  <form action="/register" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    {{!-- <div class="field">
      <label class="label">Confirm Password</label> <input class="input" type="password" placeholder="Confirm Password" name="confirmPassword">
    </div> --}}
    <div class="field is-grouped">
      <button class="button is-link">Submit</button>
    </div>
  </form>

  <div class ="social-sign-in-div">
    <div class = "social-divider">
      <span>or</span>
          <a class="button is-link" id="loginoauth" href="/loginoauth"> Log in with GitHub </a>
          {{!-- <a id="gitlogin" class="btn btn-social btn-github">
            <span class="fa-brands fa-github"></i>
              ::before
            </span>
          "Github"
          </a> --}}
          </div>
{{!-- 
          <a id="google-button" class="btn btn-block btn-social btn-google">
  <i class="fa fa-google"></i> Sign in with Google --}}
</a>
    </div>

  </div>
</section>
