<form class="box" action="/collection/{{collection._id}}/addtrail" method="POST">
  <label>Enter Trail Details:</label>
  <br>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Mountain Name</label>
        <input class="input" type="text" placeholder="Enter Mountain Name" name="mountain">
      </div>
      <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="number" step="0.0000001" maxlength="10" min="-90.0000000" max="90.0000000" placeholder="Enter Trailhead Latitude" name="latitude">
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000" placeholder="Enter Trailhead Name" name="longitude">
      </div>
      <div class="field">
        <label class="label">Duration</label>
        <input class="input" type="number" placeholder="Enter Duration time" name="duration">
      </div>
      <div class="field">
        <label class="label">Range</label>
        <div class="control">
          <div class="select is primary">
            <select name="range" id="range">
              <option>Choose a Range</option>
              <option value="Front Range">Front Range</option>
              <option value="Tenmile Range">Tenmile Range</option>
              <option value="Mosquito Range">Mosquito Range</option>
              <option value="Gore Range">Gore Range</option>
              <option value="Elks Range">Elks Range</option>
              <option value="Sawatch Range">Sawatch Range</option>
              <option value="Sangre de Cristo Range">Sangre de Cristo Range</option>
              <option value="San Juan Range">San Juan Range</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select is primary">
            <select name="category" id="category">
              <option>Choose Category</option>
              <option value="Class 1">Class 1</option>
              <option value="Class 2">Class 2</option>
              <option value="Class 2+">Class 2+</option>
              <option value="Class 3">Class 3</option>
              <option value="Class 4">Class 4</option>
              <option value="Class 5">Class 5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Effort Level</label>
        <div class="control">
          <div class="select is primary">
            <select name="effort" id="effort">
              <option>Choose Category</option>
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
              <option value="You'll Die">You'll Die</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Enter Trail</button>
</form>
