
  <form action="/dashboard/addcollection" method="POST">
    <div class="field">
      <label class="label">Trail Collection Title</label>
      <h2>Give a description of your collection - example: Colorado Summer 2023</h2>
      <input class="input" type="text" placeholder="Enter trail collection title here" name="title">
    </div>
    <button class="button is-link">Add Trail Collection</button>
  </form>
