
  <form action="/dashboard/addPublicCollection" method="POST">
    <div class="field">
      <label class="label">Start a new public trail collection here</label>
      <h2>Give your public trail collection a name - example: "Colorado Summer 2023"</h2>
      <input class="input" type="text" placeholder="Enter trail collection name here" name="title">
    </div>
    <button class="button is-link">Add Public Trail Collection</button>
  </form>
